# see: $ info bash command "Readline Init File" "Readline Init File Syntax"

# Jump with ESC+left / ESC+right through the command line
"\e\e[C": forward-word
"\e\e[D": backward-word

set completion-ignore-case Off
set mark-directories on
set mark-symlinked-directories on
